<div class="az-content az-content-mail">
    <div class="container">
        <div class="content-wrapper w-100">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="nav-scroller pb-4 border-bottom">
                                <ul class="nav nav-tabs tickets-tab-switch" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link rounded active show" id="open-tab" data-toggle="tab" href="#tab_Products" role="tab" aria-controls="open-tickets" aria-selected="true">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link rounded" id="pending-tab" data-toggle="tab" href="#tab_ProductTypes" role="tab" aria-controls="pending-tickets" aria-selected="false">Product Types</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link rounded" id="onhold-tab" data-toggle="tab" href="#tab_ProductCategories" role="tab" aria-controls="onhold-tickets" aria-selected="false">Product Categories @*<div class="badge">29 </div>*@
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content border-0 tab-content-basic mg-t-20">
                                <div class="tab-pane fade active show" id="tab_Products" role="tabpanel" aria-labelledby="open-tickets">
                                    @*<div class="tickets-date-group"><i class="typcn icon typcn-calendar-outline"></i>Tuesday, 21 May 2019 </div>*@
                                    @await Html.PartialAsync("Products_PartialView")

                                </div>
                                <div class="tab-pane fade" id="tab_ProductTypes" role="tabpanel" aria-labelledby="pending-tickets">
                                    @*<div class="tickets-date-group"><i class="typcn icon typcn-calendar-outline"></i>Tuesday, 21 May 2019 </div>*@
                                    @await Html.PartialAsync("ProductTypes_PartialView")
                                    

                                </div>
                                <div class="tab-pane fade" id="tab_ProductCategories" role="tabpanel" aria-labelledby="onhold-tickets">
                                    @await Html.PartialAsync("ProductCategories_PartielView")

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#tbl_Products,#tbl_ProductTypes,#tbl_ProductCategories").dataTable();
</script>