<div>
    <table id="tbl_ProductTypes" class="table table-hover">
        <thead>
            <tr>
                <th>Type ID</th>
                <th>Type Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Gold</td>
            </tr>
            <tr>
                <td>002</td>
                <td>Silver</td>
            </tr>
            <tr>
                <td>003</td>
                <td>Platinum</td>
            </tr>
            <tr>
                <td>004</td>
                <td>Artificial Gold</td>
            </tr>
        </tbody>
    </table>
</div>