<div>
    <table id="tbl_ProductCategories" class="table table-hover">
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>Bracelet</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>Chain</td>
            </tr>
            <tr>
                <td>1003</td>
                <td>Nackles</td>
            </tr>
            <tr>
                <td>1004</td>
                <td>Ring</td>
            </tr>
            <tr>
                <td>1005</td>
                <td>Bangle</td>
            </tr>
            </tbody>
</table>
</div>