<div>
    <table id="tbl_Products" class="table table-hover">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Product Type</th>
                <th>Buying Price / Unit</th>
                <th>Sale Price / Unit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>134566</td>
                <td>Jingles</td>
                <td>Bracelet</td>
                <td>Gold</td>
                <td>$32</td>
                <td>$50</td>
            </tr>
        </tbody> 
    </table>
</div>